<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CASHBOOK.User" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="CASHBOOK.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CASHBOOK.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <userSettings>
        <CASHBOOK.UserSettings>
            <setting name="Toolbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Statusbar" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Skin" serializeAs="String">
                <value>Seven Classic</value>
            </setting>
            <setting name="Username" serializeAs="String">
                <value />
            </setting>
        </CASHBOOK.UserSettings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><applicationSettings>
        <CASHBOOK.Properties.Settings>
            <setting name="SERVER" serializeAs="String">
                <value>.\mssqlserver8</value>
            </setting>
            <setting name="DATABASE" serializeAs="String">
                <value>CASHBOOKDB</value>
            </setting>
            <setting name="FONT" serializeAs="String">
                <value>Tahoma, 9.75pt</value>
            </setting>
        </CASHBOOK.Properties.Settings>
    </applicationSettings>
</configuration>
